loaddefs.el*
backups/*
auto-save-list
*elc
places
url/cookies
elpa-to-submit
starter-kit*
TODO
COPYING
README*
dominating-file.el
package.el
init.el
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
tramp